
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

a {
    text-decoration: none;
    color: #000;
}

i {
    color: #000;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #FAF9F6;
    color: #000;
}

.main {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 50%;
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;

    white-space: nowrap;
    overflow: hidden;
}

.container-class {
    width: 100%;
    display: flex;
    padding: 0 0 2px 0;

    font-size: clamp(14px, 0.8vw, 19px);
}

.container-class .h-folder {
    width: 100%;
    justify-content: flex-start;
    padding: 0 0 0 10px;

    text-overflow: ellipsis;
    overflow: hidden;
}

.container-class .h-date {
    width: 100;
    justify-content: flex-end;
    padding: 0 30px 0 0;
}

.folder {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 10px 20px 10px 20px;

    background-color: #fff;

    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    cursor: pointer;
}

.folder .f-name {
    width: 100%;
    font-size: clamp(12px, 0.8vw, 16.5px);

    text-overflow: ellipsis;
    overflow: hidden;
}

.folder .upload-date {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    font-size: clamp(12px, 0.8vw, 16.5px);
}

.folder:hover a,
.folder:hover p {
  text-decoration: underline;
  text-underline-offset: 3.5px;
}

.folderID {
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}

#shutter3k {
    border-bottom: none;
}

#sleepy {
    border-bottom: none;
}

#nunid-day {
    border-bottom: none;
}

@media screen and (max-width: 600px) {
    .container {
        width: 80%;
    }
}